body{
  background-color: #bfbfbf;
}


#kartta {
  height: 500px;
  border: solid;
}

.otsikko {
  position: relative;
  text-align: center;
  color: black;
}

.otsikon_teksti {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.oma_nappi{
  color: black;
  background-color: #00ffaa;
  margin: 5px
}

.oma_nappi_peruuta{
  background-color: red;
}
